<%= form_for(script_url) do |f| %>

	<div class="form-group field_with_error">
		<%= f.label :scripturl, "Script URL" %>
		<%= f.text_field :scripturl, placeholder: "Script URL", class: "form-control"  %>
	</div>

	<div class="actions">
		<%= f.submit class: "btn btn-primary" %>
	</div>

<% end %>
