<!-- Title System -->
<% phc_title "Script Listings Manager" %>
<% phc_title_tagline "Update Script URL Information" %>
<% phc_breadcrumb_one link_to "Script Urls", phcscriptcdn.script_listing_urls_path %>
<% phc_breadcrumb_two yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- Page Content -->
<div class="panel panel-inverse">
	<div class="panel-heading">
		<div class="panel-heading-btn">
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
		</div>
		<h4 class="panel-title"><%= yield(:phc_title_tagline) %></h4>
	</div>
	<div class="panel-body">

		<!--  -->
		<%= render 'form', { form_url: script_listing_url_path } %>
		<!--  -->
		
	</div>
</div>
<!-- Page Content -->
