<div class="btn-group" role="group" aria-label="url_button_group">
	<%= link_to 'Edit', edit_script_url_path(@script_url), class: "btn btn-primary" %>
	<%= link_to 'Destroy', script_url_path(@script_url), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
</div>
