<p id="notice"><%= notice %></p>

<h1>Script CDN Main List</h1>

<table>
	<thead>
		<tr>
			<th>Script Name</th>
		</tr>
	</thead>

	<tbody>
		<% @scriptcdn_mains.each do |scriptcdn_main| %>
			<tr>
				<td><%= link_to scriptcdn_main.scriptname, edit_scriptcdn_main_path(scriptcdn_main) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
