<p id="notice"><%= notice %></p>

<h1>Script Version</h1>

<table>
	<thead>
		<tr>
			<th>Script Version</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @scriptcdn_versions.each do |scriptcdn_version| %>
			<tr>
				<td><%= link_to scriptcdn_version.versionnumber, edit_scriptcdn_main_version_path(scriptcdn_version.main, scriptcdn_version) %></td>
				<td><%= link_to 'Destroy', scriptcdn_main_version_path(scriptcdn_version.main, scriptcdn_version), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn red-mint" %></td>
			</tr>
		<% end %>
	</tbody>
</table>
