<%= form_for(script_version) do |f| %>

	<div class="form-group field_with_error">
		<%= f.label :scriptversion, "Licence Name" %>
		<%= f.text_field :scriptversion, placeholder: "Version Number", class: "form-control"  %>
	</div>

	<div class="actions">
		<%= f.submit class: "btn btn-primary" %>
	</div>

<% end %>
