<div class="btn-group" role="group" aria-label="author_button_group">
	<%= link_to 'Edit', edit_script_listing_author_path(@script_author), class: "btn btn-primary" %>
	<%= link_to 'Destroy', script_listing_author_path(@script_author), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
</div>
