<!DOCTYPE html>
<html>
	<head>

		<title>PHCScriptCDN - Script Listing Engine</title>

		<%= stylesheet_link_tag    "phcscriptcdn/application", media: "all" %>
		<%= javascript_include_tag "phcscriptcdn/application" %>
		<%= csrf_meta_tags %>

	</head>

	<body>
		<div class="container">
			<%= yield %>
		</div>
	</body>

</html>
