<%= render 'phcnotifi/notifications' %>

<% @scriptcdn_scripts.each do |scriptcdn_script| %>
	<div>
		<div><%= scriptcdn_script.scrptname %></div>
		<div><%= scriptcdn_script.scrptdescription %></div>
	</div>
<% end %>
