<%= render 'phcnotifi/notifications' %>

<p>
	<strong>Script Name:</strong>
	<%= @scriptcdn_script.scrptname %>
</p>

<p>
	<strong>Script Description:</strong>
	<%= @scriptcdn_script.scrptdescription %>
</p>

<p>
	<strong>Script Version:</strong>
	<%= @scriptcdn_script.scriptversion_id %>
</p>
