<%= form_for(script_extension) do |f| %>

	<div class="form-group field_with_error">
		<%= f.label :lcncarvlfedora, "Fedora Approval" %>
		<%= f.select( :lcncarvlfedora, [['No','No'],['Yes','Yes']], {}, {class: "form-control form-control"}) %>
	</div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
