<%= form_for(script_extension) do |f| %>

	<div class="form-group field_with_error">
		<%= f.label :scriptextension, "Script Website" %>
		<%= f.text_field :scriptextension, placeholder: "Script Information Website", class: "form-control" %>
	</div>

	<div class="actions">
		<%= f.submit class: "btn btn-primary" %>
	</div>

<% end %>
