<%= form_for(script_extension) do |f| %>
  <% if script_extension.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(script_extension.errors.count, "error") %> prohibited this script_extension from being saved:</h2>

      <ul>
      <% script_extension.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
