<p id="notice"><%= notice %></p>

<h1>Authors</h1>

<table>
	<thead>
		<tr>
			<th>Firstname</th>
			<th>Lastname</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @scriptcdn_authors.each do |scriptcdn_author| %>
			<tr>
				<td><%= link_to scriptcdn_author.authorfirstname, edit_scriptcdn_main_author_path(scriptcdn_author.main, scriptcdn_author) %></td>
				<td><%= link_to scriptcdn_author.authorlastname, edit_scriptcdn_main_author_path(scriptcdn_author.main, scriptcdn_author) %></td>
				<td><%= link_to 'Destroy', scriptcdn_main_author_path(scriptcdn_author.main, scriptcdn_author), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn red-mint" %></td>
			</tr>
		<% end %>
	</tbody>
</table>
