<p id="notice"><%= notice %></p>

<p>
  <strong>Scrptversion:</strong>
  <%= @scriptcdn_scriptversion.scrptversion %>
</p>

<%= link_to 'Edit', edit_scriptcdn_scriptversion_path(@scriptcdn_scriptversion) %> |
<%= link_to 'Back', scriptcdn_scriptversions_path %>
